#home {

}

#home-intro {
    padding: 40px 0px 40px
}

#home-update {
    color: var(--smokey-black);
    background: var(--gold-crayola);
    font-size: small;
    padding: 3px 24px;
    opacity: 0.9;
    margin: 8px 0px 8px

}

#providers-meta {
    border: 2px solid var(--smokey-black);
    margin: 28px 0px;
    padding: 16px;
    text-align: center;
}

.meta-container {
    display: grid;
/*
    grid-template-columns: repeat(2, 1fr));
*/
}

.loading-results {
    text-align: center;
}

.no-results {
    text-align: center;
}

.api-error {
    text-align: center;
}

.meta-item {

}

#bmc-logo {
    height: 30px;
    margin-bottom: -6px;
}


