#home {

}

#home-intro {
    padding: 40px 0px 40px
}

#home-update {
    color: var(--smokey-black);
    background: var(--gold-crayola);
    font-size: small;
    padding: 3px 24px;
    opacity: 0.9;
    margin: 8px 0px 8px

}

#providers-meta {
    border: 2px solid var(--smokey-black);
    margin: 32px 0px 62px;
    padding: 16px;
    text-align: center;
}

.meta-container {
    display: grid;
/*
    grid-template-columns: repeat(2, 1fr));
*/
}

.meta-item {

}

#show-unavailable {
    border: 2px solid var(--smokey-black);
    margin: 32px 0px 32px;
    padding: 16px;
    text-align: center;
}

.slider-text {
    display: inline-block;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 32px;
    margin-left: 10px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked + .slider {
    background-color: var(--robot-red);
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
