#footer {
    background: var(--black-coral);
    color: white;
    padding: 20px;
    flex-shrink: 0;
    font-size: 0.8em;
}

.footer-list {
    list-style: none;
}

.footer-list-item {
    margin: 5px 0px;
}

.footer-list-item a {
    color: white;
}

.image-source-link {
    margin-top: 20px;
    font-size: 0.1em;
    color: var(--black-coral);
}

.image-source-link a {
    font-size: 0.1em;
    color: var(--black-coral);
}


#github-icon {
    margin-right: 5px;
}

#email-icon {
    margin-right: 5px;
}

