#footer {
    height:120px;
    background: var(--black-coral);
    color: white;
    padding: 20px;
    flex-shrink: 0;
}

.footer-list {
    list-style: none;
}

.footer-list-item a {
    color: white;
}
