.provider {
    border: 1.5px solid var(--black-coral);
    padding: 16px;
    margin: 24px 0px 24px;
}

.hidden {
    display: none !important;
}
 
.provider-container {
    display: flex;
    flex-direction: column;
}

.provider-item.button-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 10px auto;
    padding: 4px;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}

.provider-item.button-link.available {
    background: var(--dark-purple);
}

.provider-item.button-link.unavailable {
    background: var(--light-gray)
}

.provider-item.button-link span {
    text-decoration: none !important;
}

.provider-item.button-link.available span {
    color: white;
}

.provider-item.button-link.unavailable span {
    color: var(--smokey-black)
}


.button-link a, .button-link a:hover, .button-link a:visited, .button-link a:link, .button-link a:active {

    text-decoration: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    border:0!important;
}

.provider-item.name {
    font-size: 1.1em;
}

.provider-item.address1 {
    font-size: 0.8em;
}

.provider-item.city-state {
    font-size: 0.8em;
}

.provider-item.tags-container {
    margin: 5px 0px;
}

.item-tag {
    display: inline-block;
    font-size: 0.8em;
    color: var(--dark-purple);
    border: 1.5px solid var(--dark-purple);
    border-radius: 36px;
    padding: 4px;
    margin-bottom: 4px;
    margin-right: 6px;
    
    
}

.provider-item.available-info {
    font-size: 0.8em;
}

.date-available-label {
    font-weight: bold;
}

@media (min-width: 600px) {
    .provider-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .provider-info-wrapper {
        flex-direction: column;
    }
    
    .provider-button-wrapper {
        margin-left: 40px;
        width: 26%;
    }
    
    .provider-item.button-link {
        min-height: 40px;
    }

}
