.provider {
    border: 1.5px solid var(--black-coral);
    padding: 16px;
    margin: 24px 0px 24px;
}

.hidden {
    display: none !important;
}
 
.provider-container {
    display: grid;
}

.provider-item.button-link {
    text-align: center;
    color: white;
    background: var(--dark-purple);
    width: 100%;
    margin: 0 auto;
    padding: 4px;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}

.provider-item.button-link span {
    color: white;
    text-decoration: none !important;
}

.button-link a, .button-link a:hover, .button-link a:visited, .button-link a:link, .button-link a:active {

    text-decoration: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    border:0!important;
}

.provider-item.name {
    font-size: 1.1em;
}

.provider-item.address1 {
    font-size: 0.8em;
}

.provider-item.city-state {
    font-size: 0.8em;
}

.provider-item.tags-container {

}

.item-tag {
    display: inline-block;
    font-size: 0.8em;
    color: var(--dark-purple);
    border: 1.5px solid var(--dark-purple);
    border-radius: 36px;
    padding: 4px;
    margin-right: 6px;
    
    
}

.provider-item.available-info {

}
